* {
    font-family: 'Times New Roman', Times, serif;
    

}

h1 {
    text-align: center;
    border-radius: 10px;
    background-color: lightblue;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 25px;
    font-size: 35px;
}

.button {
    background-color: #20ADD3;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    position: absolute;
    right: 85px;
    top: 200px;
    border: 2px solid #000000;
    font-weight: bolder;
}

#author {
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    color: black;
    font-weight: bold;
    margin-top: 35px;
    margin-left: 25px;
}

.button:hover {
    background-color: #BE96EB;
}

.article {
    margin-left: 25px;
    margin-right: 50px;
    margin-top: 15px;
}

.button1 {
    background-color: #20ADD3;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    position: absolute;
    right: 50px;
    top: 125px;
    border: 2px solid #000000;
    font-weight: bolder;
}

.button1:hover {
    background-color: #BE96EB;
}

.media {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: auto;
    margin-top: 25px;
}

#username {
    color: blue;
    font-weight: bold;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
    h1 {
        font-size: 20px;
        text-align:center;
        padding: 5px;
        margin-top: 1rem;
    }
    .button {
        padding: 5px;
        font-size: 16px;
        right: 2rem;
        top:9rem;
        border-radius: 5px;
    }
    
    #author {
        font-size: 18px;
        margin-left: 5px;
    }
    
    .article {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        text-align: left;
    }
    
    .button1 {
        padding: 5px;
        font-size: 16px;
        right: 2rem;
        top: 6rem;
        border-radius: 5px;
    }
    
    .media {
        margin-top: 50px;
        width: 300px;
        height: auto;
    }
    
}

@media only screen and (max-width: 1024px) and (max-height: 600px) and (orientation: landscape) {
    h1 {
        font-size: 25px;
        text-align:center;
    }
    .button {
        padding: 5px;
        font-size: 18px;
        right: 1rem;
        top: 9rem;
        border-radius: 5px;
    }
    
    #author {
        font-size: 18px;
        margin-left: 1rem;
    }
    
    .article {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        text-align: left;
    }
    
    .button1 {
        padding: 5px;
        font-size: 18px;
        right: 1rem;
        top: 6rem;
        border-radius: 5px;
    }
    
    .media {
        margin-top: 50px;
        width: 300px;
        height: auto;
    }
}
@media only screen and (min-width: 1367px) and (max-width: 1599px) {
    h1 {
        font-size: 25px;
        text-align:center;
    }
    .button {
        padding: 5px;
        font-size: 20px;
        right: 2rem;
        top: 9rem;
        border-radius: 5px;
    }
    
    #author {
        font-size: 20px;
        margin-left: 2rem;
    }
    
    .article {
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: left;
    }
    
    .button1 {
        padding: 5px;
        font-size: 18px;
        right: 2rem;
        top: 6rem;
        border-radius: 5px;
    }
    
    .media {
        margin-top: 50px;
        width: 400px;
        height: auto;
    }
}
@media only screen and (min-width: 1600px) and (max-width: 1920px) {
    h1 {
        font-size: 35px;
        text-align:center;
        margin-top: 1rem;
    }
    .button {
        padding: 7px;
        font-size: 20px;
        right: 4rem;
        top: 9rem;
        border-radius: 5px;
    }
    
    #author {
        font-size: 25px;
        margin-left: 4rem;
    }
    
    .article {
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: left;
    }
    
    .button1 {
        padding: 7px;
        font-size: 20px;
        right: 4rem;
        top: 6rem;
        border-radius: 5px;
    }
    
    .media {
        margin-top: 50px;
        width: 450px;
        height: auto;
    }
}