{% load static %}
<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ανακαλύψτε online μαθήματα για Δημοτικό, Γυμνάσιο και Λύκειο σε πολύ ανταγωνιστικές τιμές. Προσφέρουμε καθημερινά εκπαιδευτικά βίντεο και λύσεις εργασιών, με στόχο να βελτιώσετε τις γνώσεις σας οικονομικά και αποτελεσματικά.">
    <meta name="keywords" content="εκπαίδευση, βίντεο, μαθηματικά, δημοτικό, γυμνάσιο, λύκειο, online">
    <meta name="author" content="C.P Education for All">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="shortcut icon" href="{% static 'homepage/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'homepage/homepage.css' %}">
    <title>Αρχική Σελίδα</title>
</head>

<body>
    {% block content %}
        {% for x in logo %}
            <image class='logo' src="{{x.mylogo}}" alt="Λογότυπο της εταιρείας C.P Education for All" width="600" height="200" id='img'>
        {% endfor %}
        <p id='note'>"Η πλατφόρμα μεγαλώνει καθημερινά! Νέα μαθήματα προστίθενται συνεχώς για Δημοτικό, Γυμνάσιο και Λύκειο. Μείνετε συντονισμένοι!" 🚀</p>
        
        {% if user.is_authenticated %}

            <div class="search-container">
                <form action="{% url 'homepage:search' %}" method="post">
                    {% csrf_token %}
                <input type="text" placeholder="Αναζήτηση..." name="search">
                <button class="search" type="submit" aria-label="Αναζήτηση">
                    <i class="fa fa-search"></i>
                </button>
                
                </form>
            </div>

            <div class="dropdn">
                <button class="dropbutn">
                    {{ request.user.first_name }} | {{ request.user.last_name }}
                </button>
                
                <div class="dropdn-content">
                    <a href={% url 'homepage:my_purchases' %}>Οι Αγορές μου</a>
                    <a href={% url 'homepage:view_my_basket' %}>Το Καλάθι μου</a>
                    <a href={% url 'accounts:changepassword' %}>Αλλαγή κωδικού πρόσβασης</a>
                    <a href={% url 'accounts:change_username' %}>Αλλαγή Username ή Email</a>
                    <a href={% url 'accounts:logout' %}>Αποσύνδεση</a>
                </div>
            </div>

            <h1 class='first_title'>Βασικές Λειτουργίες</h1>
            <hr id='first_line'>
            {% for x in news_image %}
                <div class="news-box1">
                    <a href={% url 'blogs:news' %}>  <!-- URL added to the image -->
                        <img class="news" src="{{ x.image }}" alt="News Image" width="250" height="180" id="img">
                    </a>
                    <a class="nav-link" href="#">
                        <i class="fa fa-bullhorn"></i> Ανακοινώσεις
                    </a>
                </div>
            {% endfor %}

            {% for x in t_c_image %}
                <div class="t_c-box1">
                    <a href={% url 'homepage:Terms_and_Conditions' %}>  <!-- URL added to the image -->
                        <img class="t_c" src="{{ x.image }}" alt="T_c" width="250" height="180" id="img">
                    </a>
                    <a class="nav-link" href="#">
                        <i class="fa fa-check-square-o"></i> Όροι Χρήσης
                    </a>
                </div>
            {% endfor %}

            {% for x in Partnership %}
                <div class="Partnership-box1">
                    <a href={% url 'partnership:terms' %}>  <!-- URL added to the image -->
                        <img class="partnership" src="{{ x.image }}" alt="T_c" width="250" height="180" id="img">
                    </a>
                    <a class="nav-link" href="#">
                        <i class="fa fa-handshake-o"></i> Συνεργασία
                    </a>
                </div>
            {% endfor %}
            {% for x in contact_image %}
                <div class="contact-box1">
                    <a href={% url 'contact_us:form' %}>  <!-- URL added to the image -->
                        <img class="contact" src="{{ x.image }}" alt="Contact" width="250" height="180" id="img">
                    </a>
                    <a class="nav-link" href="#">
                        <i class="fa fa-fw fa-envelope"></i> Επικοινωνία
                    </a>
                </div>
            {% endfor %}

            <h1 class='second_title1'>Εκπαίδευση</h1>
            <hr id='second_line1'>

            {% for x in primaryschool_image %}
                <div class="primary-box1">
                    <img class="primary" src="{{ x.image }}" alt="Primary" width="250" height="180" id="img">
                    <a class="nav-link">Δημοτικό</a>
                    <div class="dropdown_primary">
                        <button class="dropbtn_primary">Βαθμίδες Δημοτικού</button>
                        <div class="dropdown_primary-content">
                            <div class="dropdown_secondary">
                                <a>Α' Τάξη</a>
                                <div class="dropdown_secondary-content">
                                    <a href={% url 'primary:pri_fir_mat' %}>Μαθηματικά</a>
                                </div>
                            </div>
                            <!-- <div class="dropdown_secondary">
                                <a>Β' Τάξη</a>
                                <div class="dropdown_secondary-content">
                                    <a href="#">Μαθηματικά</a>
                                </div>
                            </div>
                            <div class="dropdown_secondary">
                                <a>Γ' Τάξη</a>
                                <div class="dropdown_secondary-content">
                                    <a href="#">Μαθηματικά</a>
                                </div>
                            </div>
                            <div class="dropdown_secondary">
                                <a>Δ' Τάξη</a>
                                <div class="dropdown_secondary-content">
                                    <a href="#">Μαθηματικά</a>
                                </div>
                            </div>
                            <div class="dropdown_secondary">
                                <a>Ε' Τάξη</a>
                                <div class="dropdown_secondary-content">
                                    <a href="#">Μαθηματικά</a>
                                </div>
                            </div>
                            <div class="dropdown_secondary">
                                <a>ΣΤ' Τάξη</a>
                                <div class="dropdown_secondary-content">
                                    <a href="#">Μαθηματικά</a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            {% endfor %}
        
        {% else %}

            {% if messages %}
                <div class="success_messages">
                    {% for message in messages %}
                        <h2 {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            <span class="full-message">{{ message }}</span>
                            <span class="short-message">Επιβεβαιώστε το email σας.🚀</span>
                        </h2>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="search-container">
                <form action="{% url 'homepage:search' %}" method="post">
                    {% csrf_token %}
                <input type="text" placeholder="Αναζήτηση..." name="search">
                <button class="search" type="submit" aria-label="Αναζήτηση">
                    <i class="fa fa-search"></i>
                </button>
                
                </form>
            </div>

            <h1 class='first_title'>Βασικές Λειτουργίες</h1>
            <hr id='first_line'>
            
            {% for x in login_image %}
                <div class="login-box">
                    <a href={% url 'accounts:login_user' %}>  <!-- URL added to the image -->
                        <img class="login" src="{{ x.image }}" alt="Login" width="250" height="180" id="img">
                    </a>
                    <a class="nav-link" href="#">
                        <i class="fa fa-fw fa-user"></i> Σύνδεση
                    </a>
                </div>
            {% endfor %}

            {% for x in register_image %}
                <div class="register-box">
                    <a href={% url 'accounts:user_register' %}>  <!-- URL added to the image -->
                        <img class="register" src="{{ x.image }}" alt="Register" width="250" height="180" id="img">
                    </a>
                    <a class="nav-link" href="#">
                        <i class="fa fa-pencil"></i>Εγγραφή
                    </a>
                </div>
            {% endfor %}

            {% for x in t_c_image %}
                <div class="t_c-box">
                    <a href={% url 'homepage:Terms_and_Conditions' %}>  <!-- URL added to the image -->
                        <img class="t_c" src="{{ x.image }}" alt="T_c" width="250" height="180" id="img">
                    </a>
                    <a class="nav-link" href="#">
                        <i class="fa fa-check-square-o"></i> Όροι Χρήσης
                    </a>
                </div>
            {% endfor %}

            {% for x in Partnership %}
                <div class="Partnership-box">
                    <a href={% url 'accounts:login_user' %}>  <!-- URL added to the image -->
                        <img class="partnership" src="{{ x.image }}" alt="T_c" width="250" height="180" id="img">
                    </a>
                    <a class="nav-link" href="#">
                        <i class="fa fa-handshake-o"></i> Συνεργασία
                    </a>
                </div>
            {% endfor %}

            {% for x in news_image %}
                <div class="news-box">
                    <a href={% url 'blogs:news' %}>  <!-- URL added to the image -->
                        <img class="news" src="{{ x.image }}" alt="News Image" width="250" height="180" id="img">
                    </a>
                    <a class="nav-link" href="#">
                        <i class="fa fa-bullhorn"></i> Ανακοινώσεις
                    </a>
                </div>
            
            {% endfor %}

            {% for x in contact_image %}
                <div class="contact-box">
                    <a href={% url 'contact_us:form' %}>  <!-- URL added to the image -->
                        <img class="contact" src="{{ x.image }}" alt="Contact" width="250" height="180" id="img">
                    </a>
                    <a class="nav-link" href="#">
                        <i class="fa fa-fw fa-envelope"></i> Επικοινωνία
                    </a>
                </div>
            {% endfor %}

            <h1 class='second_title'>Εκπαίδευση</h1>
            <hr id='second_line'>

            {% for x in primaryschool_image %}
                <div class="primary-box">
                    <img class="primary" src="{{ x.image }}" alt="Primary" width="250" height="180" id="img">
                    <a class="nav-link">Δημοτικό</a>
                    <div class="dropdown_primary">
                        <button class="dropbtn_primary">Βαθμίδες Δημοτικού</button>
                        <div class="dropdown_primary-content">
                            <div class="dropdown_secondary">
                                <a>Α' Τάξη</a>
                                <div class="dropdown_secondary-content">
                                    <a href={% url 'accounts:login_user' %}>Μαθηματικά</a>
                                </div>
                            </div>
                            <div class="dropdown_secondary">
                                <a>Β' Τάξη</a>
                                <div class="dropdown_secondary-content">
                                    <a href="#">Μαθηματικά</a>
                                </div>
                            </div>
                            <div class="dropdown_secondary">
                                <a>Γ' Τάξη</a>
                                <div class="dropdown_secondary-content">
                                    <a href="#">Μαθηματικά</a>
                                </div>
                            </div>
                            <div class="dropdown_secondary">
                                <a>Δ' Τάξη</a>
                                <div class="dropdown_secondary-content">
                                    <a href="#">Μαθηματικά</a>
                                </div>
                            </div>
                            <div class="dropdown_secondary">
                                <a>Ε' Τάξη</a>
                                <div class="dropdown_secondary-content">
                                    <a href="#">Μαθηματικά</a>
                                </div>
                            </div>
                            <div class="dropdown_secondary">
                                <a>ΣΤ' Τάξη</a>
                                <div class="dropdown_secondary-content">
                                    <a href="#">Μαθηματικά</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% include 'footer.html' %}
    {% endblock %}

</body>
</html>
