{% block content %} 
{% load static %}
<!DOCTYPE html>
<html lang="el">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/change_password.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'homepage/favicon.ico' %}" >
    <title>Εγγραφή</title>
  </head>
  <body>
    <h1>Αλλαγή Κωδικού Πρόσβασης</h1>
    <a onClick="javascript:history.go(-1);" class="button2">Πίσω</a>
        <form method="POST" action="" autocomplete="off">
          {% csrf_token %}
                
                <label for="username" id="usr">Username: </label></br>
                <input type="text" name="username" placeholder="User name" required="" autocomplete="off"><br/>

                <label for="password1" id="psw1">Old Password: </label></br>
                <input type="password" name="password1" placeholder="Password" required="" autocomplete="new-password"><br/>
                
                <label for="password2" id="psw2">New Password: </label></br>
                <input type="password" name="password2" placeholder="Password" required="" autocomplete="new-password"><br/>
                
                <label for="password2" id="psw3">Confirm Password: </label></br>
                <input type="password" name="password3" placeholder="Confirm Password" required="" autocomplete="new-password"><br/>
                
                <button>Καταχώρηση</button>
        </form>
        
        <div id="msg1">
          {% if messages %}
            {% for message in messages %}
              <p><a {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.warning %}{% endif %}{{ message }}
              </p>
            {% endfor %}
          {% endif %}
        </div>
  </body>
</html>
{% endblock content %}

