{% block content %} 
{% load static %}
<!DOCTYPE html>
<html lang="el">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/password_reset.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'homepage/favicon.ico' %}" >
  <body>
    <h1>Επαναφορά Κωδικού Πρόσβασης</h1>
    <a  href="{% url 'homepage:homepage' %}" class="button1">Αρχική Σελίδα</a>
    <a  href="{% url 'accounts:login_user' %}" class="button2">Σύνδεση</a>
      <form method="POST" action="">
        {% csrf_token %}
        <div class="border-box">
          <label for="email" id="un">Email: </label><br>
          <input type="email" name="email" placeholder="Email" id="uname"required=""><br/>
        </div>
        <button type="submit" id="submit">Αποστολή</button><br>
      </form>
      <p id='title'><span>Ξεχάσατε τον κωδικό σας;</span> Καταχωρήστε το <span>Email </span>σας και θα σας αποσταλούν οδηγίες
      επαναφοράς!</p>
  </body>
</html>
{% endblock content %}
