{% block content %} 
{% load static %}
<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'homepage/favicon.ico' %}" >
    <link rel="stylesheet" href="{% static 'accounts/password_reset_form.css' %}">
    <title>Επαναφορά Κωδικου</title>
</head>
<body>
    <h1>Επαναφορά Κωδικού Πρόσβασης</h1>
        <form method="POST" class="password-reset-form">
            {% csrf_token %}
            {{form.as_p}}
            <input class="submit" type="submit" name="Update Password"><br />
        </form>
</body>
</html>
{% endblock content %}