{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="el">
    
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="{% static 'accounts/password_reset_done.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'homepage/favicon.ico' %}" >
        <title>Checkout</title>
    </head>
    <body>
        <h1>Επιτυχής Επαναφορά Κωδικού Πρόσβασης</h1><br/>
        <p>Ο Κωδικός σας έχει αλλάξει.</p><br/>
        <a class='button' href="{% url 'accounts:login_user' %}">Σύνσεση</a>
    </body>
</html>
{% endblock content %}