{% block content %} 
{% load static %}
<!DOCTYPE html>
<html lang="el">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Επιτυχής Επαναφορά</title>
    <link rel="stylesheet" href="{% static 'accounts/password_reset_sent.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'homepage/favicon.ico' %}" >
  </head>
  <body>
    <h1>Επαναφορά Κωδικού Πρόσβασης</h1>
    <p>Σας έχουμε αποστείλει οδηγίες επαναφοράς κωδικού πρόσβασης.
      Αν το Email  που έχετε καταχωρήσει αντιστοιχει σε εγγεγραμμένο 
      λογαριασμό, θα λάβετε σύνδεσμο επαναφοράς άμεσα!</p>
    
    <p>Αν δεν λάβετε άμεσα τις οδηγίες επαναφοράς, παρακαλώ ελέγξετε
        το Email που καταχωρήσατε, αν είναι συνδεδεμένο με κάποιο λογαριασμό
        στο <span>Net Uni</span><span id='a'>-School for All</span>!</p>
    <a href="{% url 'homepage:homepage' %}" class="button1">Αρχική Σελίδα</a>
    <a href="{% url 'accounts:login_user' %}" class="button2">Σύνδεση</a>

  </body>
</html>
{% endblock content %}



