{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blogs/news.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'homepage/favicon.ico' %}" >
    <title>Ανακοινώσεις</title>
</head>
<body>
    
    <h1>Ανακοινώσεις</h1>
    {% for i in posts %}
        <a href="{% url 'blogs:details' i.pk i.author_id %}">
            <img class='media' src="{{ i.image }}" alt="{{ i.title }}">
        </a></br>
        <a class='link' href="{% url 'blogs:details' i.pk i.author_id %}">{{i.title}}
        <p id="text1">{{i.create_at}}</p>
        <hr>   
    {% endfor %}
    
    <a href="{% url 'homepage:homepage' %}" class="button">Αρχική Σελίδα</a>
    
</body>
</html>
{% endblock content %}


