h1 {
    text-align: center;
    border-radius: 10px;
    background-color: lightblue;
    font-weight: bold;
    margin-top: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 5px;
}

.button {
    background-color: #20ADD3;
    color: rgb(0, 0, 0);
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: "Times New Roman";
    cursor: pointer;
    border-radius: 8px;
    position: absolute;
    right: 5rem;
    top: 7rem;
    border: 2px solid #000000;

}

.button:hover {
    background-color: #BE96EB;
}

.button1 {
    background-color: #f7cf06;
    color: rgb(0, 0, 0);
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: "Times New Roman";
    cursor: pointer;
    border-radius: 8px;
    position: absolute;
    right: 5rem;
    top: 11rem;
    border: 2px solid #000000;
}

.button1:hover {
    background-color: #f1bf5b;
}

.text {
    margin-top: 10rem;
    margin-left: 5rem;
}

#downbook {
    font-size: 20px;
    color: blue;
    font-weight: bold;
}

option {
    background-color: #ffffff;
}

.select_value {
    font-family: 'Times New Roman';
    max-width: 15%;
    font-size: 20px;
    background-color:#20ADD3;
    color: rgb(0, 0, 0);
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid #000000;
    position: absolute;
    right: 25rem;
    top: 7rem;
}

.select_value:hover {
    background-color: #BE96EB;
}

.button_chapter{
    font-family: 'Times New Roman';
    font-size: 20px;
    background-color: #bae69d;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 16px;
    position: absolute;
    right: 16.5rem;
    top: 7rem;
}

.button_chapter:hover {
    background-color: #BE96EB;
}

#content p {
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
    
}

.top-link {
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}
.top-link:hover {
    background-color: #0056b3;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
    h1 {
        margin-top: 3vh;
        font-size: 20px;
        padding: 6px 12px;
    }
    .button1 {
        font-size: 18px;
        padding: 5px 6px;
        right: 2rem;
        top: 9rem;
    }
    .button {
        font-size: 18px;
        padding: 5px 6px;
        right: 6rem;
        top: 9rem;
    }
    .button_chapter {
        font-size: 18px;
        padding: 5px 6px;
        right: 2rem;
        top: 6rem;
    }
    .select_value {
        font-size: 18px;
        padding: 5px 6px;
        max-width: 50%;
        right: 7.8rem;
        top: 6rem;
    }
    .text {
        margin-top: 10rem;
        margin-left: 0.5rem;
        margin-bottom: 5rem;
    }
    
    .top-link {
        padding: 6px 12px;
        font-size: 18px;
        right: 2rem;
        bottom: 2rem;
        margin-top: 20rem;
    }
    #content {
        font-size: 25px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        text-decoration: underline;
    }
}

@media only screen and (max-width: 1024px) and (max-height: 600px) and (orientation: landscape) {
    h1 {
        font-size: 25px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
    }
    .button1 {
        font-size: 18px;
        padding: 5px 6px;
        right:2rem;
        border-radius: 8px;
        top: 10rem;
    }
    .button {
        font-size: 18px;
        padding: 5px 6px;
        border-radius: 8px;
        right: 6rem;
        top: 10rem;
    }
    .button_chapter {
        font-size:18px;
        border-radius: 8px;
        padding: 5px 6px;
        right: 2rem;
        top: 7rem;
    }
    .select_value {
        max-width:22%;
        font-size: 18px;
        border-radius: 8px;
        padding: 5px 6px;
        right: 7.8rem;
        top: 7rem;
    }
    .text {
        font-size: 20px;
        margin-left: 5vw;
        margin-top: 35vh;
    }
    .top-link {
        padding: 6px 12px;
        font-size: 20px;
        right: 2rem;
        bottom: 2rem;
        margin-top: 20rem;
    }
    #content {
        font-size: 25px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        text-decoration: underline;
    }
} 

@media only screen and (min-width: 1367px) and (max-width: 1599px) {
    h1 {
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 2rem;
        padding: 10px;
    }
    .button1 {
        font-size: 20px;
        padding: 10px 12px;
        right:5rem;
        border-radius: 8px;
        top: 13rem;
    }
    .button {
        font-size: 20px;
        padding: 10px 12px;
        border-radius: 8px;
        right: 10rem;
        top: 13rem;
    }
    .button_chapter {
        font-size:20px;
        border-radius: 8px;
        padding: 10px 12px;
        right: 5rem;
        top: 9rem;
    }
    .select_value {
        width:20%;
        font-size: 20px;
        border-radius: 8px;
        padding: 10px 12px;
        right: 12rem;
        top: 9rem;
    }
    option {
        font-size: 20px;
    }
    .text {
        margin-left: 5rem;
        margin-top: 12rem;
    }
    .text1 {
        font-size: 30px;
    }
    .top-link {
        padding: 10px;
        font-size: 20px;
    }
    #downbook {
        font-size: 25px;
    }
    #content {
        font-size: 30px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        text-decoration: underline;
    }
    

}

@media only screen and (min-width: 1600px) and (max-width: 1920px) {
    h1 {
        font-size: 40px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 3rem;
        padding: 10px;
    }
    .button1 {
        font-size: 25px;
        padding: 10px 12px;
        right:5rem;
        border-radius: 8px;
        top: 20rem;
    }
    .button {
        font-size: 25px;
        padding: 10px 12px;
        border-radius: 8px;
        right: 11.5rem;
        top: 20rem;
    }
    .button_chapter {
        font-size:25px;
        border-radius: 8px;
        padding: 10px 12px;
        right: 5rem;
        top: 15rem;
    }
    .select_value {
        width:20%;
        font-size: 25px;
        border-radius: 8px;
        padding: 10px 12px;
        right: 14rem;
        top: 15rem;
    }
    option {
        font-size: 20px;
    }
    .text {
        margin-left: 5rem;
        margin-top: 15rem;
    }
    .text1 {
        font-size: 30px;
    }
    .top-link {
        padding: 10px 20px;
        font-size: 25px;
    }
    #downbook {
        font-size: 30px;
    }
    #content {
        font-size: 30px;
    }
}